<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_bt_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,411},{129,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{129,128}}</string>
                <key>sourceSize</key>
                <string>{141,150}</string>
            </dict>
            <key>game_bt_left_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{141,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{141,142}}</string>
                <key>sourceSize</key>
                <string>{141,150}</string>
            </dict>
            <key>game_bt_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,336},{129,128}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{129,128}}</string>
                <key>sourceSize</key>
                <string>{141,150}</string>
            </dict>
            <key>game_bt_right_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,193},{141,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{141,142}}</string>
                <key>sourceSize</key>
                <string>{141,150}</string>
            </dict>
            <key>game_monster_hp_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,99},{85,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{85,14}}</string>
                <key>sourceSize</key>
                <string>{95,24}</string>
            </dict>
            <key>game_monster_hp_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{95,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,24}}</string>
                <key>sourceSize</key>
                <string>{95,24}</string>
            </dict>
            <key>hero_box_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,193},{120,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,115}}</string>
                <key>sourceSize</key>
                <string>{120,115}</string>
            </dict>
            <key>hero_box_1_2_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,466},{120,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,122}}</string>
                <key>sourceSize</key>
                <string>{120,122}</string>
            </dict>
            <key>hero_profile_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,303},{102,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,97}}</string>
                <key>sourceSize</key>
                <string>{102,97}</string>
            </dict>
            <key>hero_profile_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,204},{102,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,97}}</string>
                <key>sourceSize</key>
                <string>{102,97}</string>
            </dict>
            <key>intro_title_sword.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{189,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,232}}</string>
                <key>sourceSize</key>
                <string>{189,232}</string>
            </dict>
            <key>intro_title_sword_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,246}}</string>
                <key>sourceSize</key>
                <string>{200,246}</string>
            </dict>
            <key>rank_change_ranking_arrow_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,315},{94,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,110}}</string>
                <key>sourceSize</key>
                <string>{94,110}</string>
            </dict>
            <key>rank_change_ranking_arrow_up_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,347},{120,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,140}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>s.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,402},{127,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,103}}</string>
                <key>sourceSize</key>
                <string>{127,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameUI.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2710bf70695279e4f7f50ca35d2f7e1:1/1$</string>
            <key>textureFileName</key>
            <string>GameUI.png</string>
        </dict>
    </dict>
</plist>
