<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MagicInitTexture.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,59},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>MonsterInitTexture.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,59},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>UI_Button_back_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,82},{71,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,37}}</string>
                <key>sourceSize</key>
                <string>{71,37}</string>
            </dict>
            <key>UI_Button_back_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{71,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,37}}</string>
                <key>sourceSize</key>
                <string>{71,37}</string>
            </dict>
            <key>UI_Button_back_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,59},{71,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,37}}</string>
                <key>sourceSize</key>
                <string>{71,37}</string>
            </dict>
            <key>UI_Button_ok02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,121},{86,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,61}}</string>
                <key>sourceSize</key>
                <string>{86,61}</string>
            </dict>
            <key>UI_Button_ok02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,405},{86,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,61}}</string>
                <key>sourceSize</key>
                <string>{86,61}</string>
            </dict>
            <key>UI_Button_ok02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,405},{86,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,61}}</string>
                <key>sourceSize</key>
                <string>{86,61}</string>
            </dict>
            <key>UI_Button_tianjia_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,210},{54,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,37}}</string>
                <key>sourceSize</key>
                <string>{54,37}</string>
            </dict>
            <key>UI_Button_tianjia_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,171},{54,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,37}}</string>
                <key>sourceSize</key>
                <string>{54,37}</string>
            </dict>
            <key>UI_Button_tianjia_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,132},{54,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,37}}</string>
                <key>sourceSize</key>
                <string>{54,37}</string>
            </dict>
            <key>UI_Icon_jibi.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,270},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>UI_Icon_zuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,82},{36,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,32}}</string>
                <key>sourceSize</key>
                <string>{36,32}</string>
            </dict>
            <key>UI_character_8002.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,184},{82,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{82,74}}</string>
                <key>sourceSize</key>
                <string>{102,78}</string>
            </dict>
            <key>UI_character_summoner_enemy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{94,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{94,78}}</string>
                <key>sourceSize</key>
                <string>{102,78}</string>
            </dict>
            <key>UI_character_summoner_player1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,78}}</string>
                <key>sourceSize</key>
                <string>{102,78}</string>
            </dict>
            <key>UI_character_summoner_player2.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,260},{76,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{76,74}}</string>
                <key>sourceSize</key>
                <string>{102,78}</string>
            </dict>
            <key>UI_xianshixinxi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{271,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,69}}</string>
                <key>sourceSize</key>
                <string>{271,69}</string>
            </dict>
            <key>UI_xianshixinxi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,132},{268,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,36}}</string>
                <key>sourceSize</key>
                <string>{268,36}</string>
            </dict>
            <key>icon_old_price.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,249},{54,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,19}}</string>
                <key>sourceSize</key>
                <string>{54,19}</string>
            </dict>
            <key>icon_on_sale.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{55,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,51}}</string>
                <key>sourceSize</key>
                <string>{55,51}</string>
            </dict>
            <key>initTexture.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,59},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UI_Common_Common01.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec12bbdc984ac5e60386171c946b28ca$</string>
            <key>textureFileName</key>
            <string>UI_Common_Common01.png</string>
        </dict>
    </dict>
</plist>
