<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Object_baoshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{30,32}</string>
            </dict>
            <key>UI_BT_chongxinkaishi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{71,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,37}}</string>
                <key>sourceSize</key>
                <string>{71,37}</string>
            </dict>
            <key>UI_BT_chongxinkaishi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,81},{71,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,37}}</string>
                <key>sourceSize</key>
                <string>{71,37}</string>
            </dict>
            <key>UI_BT_fanhuiditu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,81},{71,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,37}}</string>
                <key>sourceSize</key>
                <string>{71,37}</string>
            </dict>
            <key>UI_BT_fanhuiditu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,81},{71,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,37}}</string>
                <key>sourceSize</key>
                <string>{71,37}</string>
            </dict>
            <key>UI_BT_sheding_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,81},{71,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,37}}</string>
                <key>sourceSize</key>
                <string>{71,37}</string>
            </dict>
            <key>UI_BT_sheding_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,390},{71,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,37}}</string>
                <key>sourceSize</key>
                <string>{71,37}</string>
            </dict>
            <key>UI_Button_ok_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,390},{71,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,37}}</string>
                <key>sourceSize</key>
                <string>{71,37}</string>
            </dict>
            <key>UI_Button_ok_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,390},{71,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,37}}</string>
                <key>sourceSize</key>
                <string>{71,37}</string>
            </dict>
            <key>UI_battle_Warning.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,34},{147,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,30}}</string>
                <key>sourceSize</key>
                <string>{147,30}</string>
            </dict>
            <key>UI_battle_buff_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,351},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>UI_battle_buff_icon01.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,188},{19,19}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{19,19}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>UI_battle_buff_icon02.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,134},{21,19}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{21,19}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>UI_battle_buff_icon03.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,134},{21,19}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{21,19}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>UI_battle_buff_icon04.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,155},{21,19}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{21,19}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>UI_battle_buff_icon05.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,165},{21,19}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{21,19}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>UI_battle_buff_icon06.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,134},{19,17}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{19,17}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>UI_battle_buff_icon07.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,176},{19,19}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>UI_battle_buff_icon08.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,183},{19,19}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{19,19}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>UI_battle_buff_icon09.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,155},{21,19}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{21,19}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>UI_battle_buff_icon10.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,176},{21,19}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{21,19}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>UI_battle_buff_icon11.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,197},{19,19}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>UI_zhandou_Menu_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{472,77}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{472,77}}</string>
                <key>sourceSize</key>
                <string>{480,77}</string>
            </dict>
            <key>UI_zhandou_Time_BK.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,154},{58,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,23}}</string>
                <key>sourceSize</key>
                <string>{58,23}</string>
            </dict>
            <key>UI_zhandou_blood_A_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{114,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,26}}</string>
                <key>sourceSize</key>
                <string>{114,26}</string>
            </dict>
            <key>UI_zhandou_character_7001.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,81},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{50,49}}</string>
                <key>sourceSize</key>
                <string>{64,55}</string>
            </dict>
            <key>UI_zhandou_character_7002.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,408},{52,43}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{52,43}}</string>
                <key>sourceSize</key>
                <string>{64,55}</string>
            </dict>
            <key>UI_zhandou_character_7003.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,81},{64,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,51}}</string>
                <key>sourceSize</key>
                <string>{64,55}</string>
            </dict>
            <key>UI_zhandou_character_7004.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,81},{52,51}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{52,51}}</string>
                <key>sourceSize</key>
                <string>{64,55}</string>
            </dict>
            <key>UI_zhandou_character_7005.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,463},{64,47}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{64,47}}</string>
                <key>sourceSize</key>
                <string>{64,55}</string>
            </dict>
            <key>UI_zhandou_character_8002.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,463},{55,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,46}}</string>
                <key>sourceSize</key>
                <string>{55,46}</string>
            </dict>
            <key>UI_zhandou_character_summoner_enemy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,463},{47,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{47,40}}</string>
                <key>sourceSize</key>
                <string>{55,46}</string>
            </dict>
            <key>UI_zhandou_character_summoner_player1.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,351},{55,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{55,44}}</string>
                <key>sourceSize</key>
                <string>{55,46}</string>
            </dict>
            <key>UI_zhandou_character_summoner_player2.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,134},{51,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{51,42}}</string>
                <key>sourceSize</key>
                <string>{55,46}</string>
            </dict>
            <key>UI_zhandou_jiantou_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,154},{26,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,30}}</string>
                <key>sourceSize</key>
                <string>{26,30}</string>
            </dict>
            <key>UI_zhandou_jiantou_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,154},{26,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,30}}</string>
                <key>sourceSize</key>
                <string>{26,30}</string>
            </dict>
            <key>UI_zhandou_map_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,390},{108,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,28}}</string>
                <key>sourceSize</key>
                <string>{108,28}</string>
            </dict>
            <key>UI_zhandou_map_hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>UI_zhandou_map_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,154},{53,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,25}}</string>
                <key>sourceSize</key>
                <string>{53,25}</string>
            </dict>
            <key>UI_zhandou_map_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{7,506},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>UI_zhandou_map_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,506},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>UI_zhandou_zhanting_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>UI_zhandou_zhanting_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,154},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>battle mode.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,183},{166,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,127}}</string>
                <key>sourceSize</key>
                <string>{166,127}</string>
            </dict>
            <key>bonus mode.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,351},{158,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,125}}</string>
                <key>sourceSize</key>
                <string>{158,125}</string>
            </dict>
            <key>charge mode.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{205,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,142}}</string>
                <key>sourceSize</key>
                <string>{205,142}</string>
            </dict>
            <key>fight.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,34},{1,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{1,30}}</string>
                <key>sourceSize</key>
                <string>{1,38}</string>
            </dict>
            <key>initTexture.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>start.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,134},{136,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,29}}</string>
                <key>sourceSize</key>
                <string>{136,29}</string>
            </dict>
            <key>treasure mode.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,183},{132,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,165}}</string>
                <key>sourceSize</key>
                <string>{132,165}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UI_Fight_Common01.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92e0cca558efb97db38c43321c36c0f8$</string>
            <key>textureFileName</key>
            <string>UI_Fight_Common01.png</string>
        </dict>
    </dict>
</plist>
