<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UI_Button_ok_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{71,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,37}}</string>
                <key>sourceSize</key>
                <string>{71,37}</string>
            </dict>
            <key>UI_Button_ok_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{71,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,37}}</string>
                <key>sourceSize</key>
                <string>{71,37}</string>
            </dict>
            <key>UI_Button_ok_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,137},{71,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,37}}</string>
                <key>sourceSize</key>
                <string>{71,37}</string>
            </dict>
            <key>UI_Icon_gongjili.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
            <key>UI_Icon_jibi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>UI_Icon_jingli.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,23},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
            <key>UI_Icon_juli.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,234},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>UI_Icon_shengmingzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,44},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>UI_Icon_xing3.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,102},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>UI_Icon_xing4.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,102},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>UI_Icon_yingzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,64},{71,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,23}}</string>
                <key>sourceSize</key>
                <string>{71,23}</string>
            </dict>
            <key>UI_map_chengjiu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,210},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>UI_wenzikuang03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,55},{224,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,45}}</string>
                <key>sourceSize</key>
                <string>{224,45}</string>
            </dict>
            <key>UI_zhuangshi_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,51}}</string>
                <key>sourceSize</key>
                <string>{232,51}</string>
            </dict>
            <key>initTexture.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,64},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UI_GameOverShow_Common.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ec0c7c794b01510400ef6920e77b572$</string>
            <key>textureFileName</key>
            <string>UI_GameOverShow_Common.png</string>
        </dict>
    </dict>
</plist>
