<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1003_hit01.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,202},{41,47}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,20},{41,47}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>1003_hit02.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,100},{41,51}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{41,51}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>1003_hit03.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,2},{43,51}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{43,51}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>1003_hit04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{41,49}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,18},{41,49}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>1003_hit05.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,200},{41,45}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,22},{41,45}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>1003_idle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,153},{41,47}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,20},{41,47}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>1003_idle02.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,202},{41,47}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,20},{41,47}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>1003_idle03.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,57},{43,45}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{43,45}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>1003_idle04.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,153},{41,47}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,20},{41,47}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>1003_melee01.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,104},{41,47}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,20},{41,47}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>1003_melee02.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,55},{43,45}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,22},{43,45}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>1003_melee03.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{55,53}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{55,53}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>1003_melee04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{63,55}}</string>
                <key>offset</key>
                <string>{11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,12},{63,55}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>1003_melee05.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,153},{41,45}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,22},{41,45}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>1003_walk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,102},{41,47}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,20},{41,47}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>1003_walk02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{41,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,18},{41,49}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>1003_walk03.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,51},{49,47}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{49,47}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>1003_walk04.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{61,47}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{61,47}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>1003_walk05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{45,47}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,20},{45,47}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>1003_walk06.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,102},{41,47}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,20},{41,47}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1003.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6213e6dfecd64d75be008c7a7838be16$</string>
            <key>textureFileName</key>
            <string>1003.png</string>
        </dict>
    </dict>
</plist>
