<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1005_hit01.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,55},{47,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{47,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>1005_hit02.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,108},{47,51}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{47,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>1005_hit03.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,161},{47,51}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{47,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>1005_hit04.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{47,49}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{47,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>1005_hit05.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,159},{47,49}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{47,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>1005_hit06.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{47,51}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{47,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>1005_idle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,55},{47,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{47,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>1005_idle02.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,108},{47,49}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{47,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>1005_idle03.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,161},{47,49}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{47,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>1005_idle04.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,55},{47,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{47,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>1005_melee01.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,55},{47,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{47,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>1005_melee02.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,2},{45,51}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{45,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>1005_melee03.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,161},{43,51}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{43,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>1005_melee04.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,53},{55,47}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{55,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>1005_melee05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{51,51}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{51,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>1005_melee06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,55},{49,51}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{49,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>1005_walk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,55},{47,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{47,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>1005_walk02.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,108},{47,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{47,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>1005_walk03.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,161},{47,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{47,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>1005_walk04.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,2},{47,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{47,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>1005_walk05.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,55},{47,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{47,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>1005_walk06.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,108},{47,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{47,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>1005_walk07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{47,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{47,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>1005_walk08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{47,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{47,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1005.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a2407e7327fab06c583e53de5f76cf3$</string>
            <key>textureFileName</key>
            <string>1005.png</string>
        </dict>
    </dict>
</plist>
