<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1008_hit01.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,53},{48,49}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{48,49}}</string>
                <key>sourceSize</key>
                <string>{100,77}</string>
            </dict>
            <key>1008_hit02.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,161},{52,53}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{52,53}}</string>
                <key>sourceSize</key>
                <string>{100,77}</string>
            </dict>
            <key>1008_hit03.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,159},{54,53}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{54,53}}</string>
                <key>sourceSize</key>
                <string>{100,77}</string>
            </dict>
            <key>1008_hit04.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,159},{54,53}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{54,53}}</string>
                <key>sourceSize</key>
                <string>{100,77}</string>
            </dict>
            <key>1008_hit05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{52,53}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{52,53}}</string>
                <key>sourceSize</key>
                <string>{100,77}</string>
            </dict>
            <key>1008_idle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,53},{48,49}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{48,49}}</string>
                <key>sourceSize</key>
                <string>{100,77}</string>
            </dict>
            <key>1008_idle02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,53},{46,49}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{46,49}}</string>
                <key>sourceSize</key>
                <string>{100,77}</string>
            </dict>
            <key>1008_idle03.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{44,49}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{44,49}}</string>
                <key>sourceSize</key>
                <string>{100,77}</string>
            </dict>
            <key>1008_idle04.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{44,49}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{44,49}}</string>
                <key>sourceSize</key>
                <string>{100,77}</string>
            </dict>
            <key>1008_idle05.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{44,49}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{44,49}}</string>
                <key>sourceSize</key>
                <string>{100,77}</string>
            </dict>
            <key>1008_idle06.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{44,49}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{44,49}}</string>
                <key>sourceSize</key>
                <string>{100,77}</string>
            </dict>
            <key>1008_idle07.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{46,49}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{46,49}}</string>
                <key>sourceSize</key>
                <string>{100,77}</string>
            </dict>
            <key>1008_melee01.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,53},{48,49}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{48,49}}</string>
                <key>sourceSize</key>
                <string>{100,77}</string>
            </dict>
            <key>1008_melee02.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,106},{54,53}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{54,53}}</string>
                <key>sourceSize</key>
                <string>{100,77}</string>
            </dict>
            <key>1008_melee03.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,161},{70,59}}</string>
                <key>offset</key>
                <string>{-14,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{70,59}}</string>
                <key>sourceSize</key>
                <string>{100,77}</string>
            </dict>
            <key>1008_melee04.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,104},{52,53}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{52,53}}</string>
                <key>sourceSize</key>
                <string>{100,77}</string>
            </dict>
            <key>1008_melee05.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,53},{70,51}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{70,51}}</string>
                <key>sourceSize</key>
                <string>{100,77}</string>
            </dict>
            <key>1008_melee06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,49}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{48,49}}</string>
                <key>sourceSize</key>
                <string>{100,77}</string>
            </dict>
            <key>1008_walk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,53},{48,49}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{48,49}}</string>
                <key>sourceSize</key>
                <string>{100,77}</string>
            </dict>
            <key>1008_walk02.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,106},{44,53}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{44,53}}</string>
                <key>sourceSize</key>
                <string>{100,77}</string>
            </dict>
            <key>1008_walk03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{46,51}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{46,51}}</string>
                <key>sourceSize</key>
                <string>{100,77}</string>
            </dict>
            <key>1008_walk04.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,104},{44,53}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{44,53}}</string>
                <key>sourceSize</key>
                <string>{100,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1008.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:025b1e7606de5790993027fdbbbfe3ee$</string>
            <key>textureFileName</key>
            <string>1008.png</string>
        </dict>
    </dict>
</plist>
