<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1009_hit01.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,190},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{44,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>1009_hit02.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,100},{44,42}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{44,42}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>1009_hit03.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,188},{44,40}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{44,40}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>1009_hit04.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,48},{46,42}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{46,42}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>1009_hit05.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{46,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{46,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>1009_hit06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{44,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>1009_idle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,190},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{44,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>1009_idle02.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,140},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{44,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>1009_idle03.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{44,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{44,48}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>1009_idle04.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,98},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{44,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>1009_melee01.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,190},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{44,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>1009_melee02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{42,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{42,48}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>1009_melee03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,42}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{50,42}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>1009_melee04.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{48,44}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{48,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>1009_melee05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{46,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>1009_melee06.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,52},{44,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{44,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>1009_walk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,190},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{44,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>1009_walk02.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,98},{44,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{44,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>1009_walk03.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,50},{44,46}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{44,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>1009_walk04.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{44,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{44,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>1009_walk05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{44,46}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{44,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>1009_walk06.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,92},{44,46}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{44,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>1009_walk07.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,50},{44,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{44,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1009.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:931a9d22e60db99a43ade28440b278bc$</string>
            <key>textureFileName</key>
            <string>1009.png</string>
        </dict>
    </dict>
</plist>
