<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1010_hit01.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,53},{47,49}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,23},{47,49}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>1010_hit02.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,2},{51,49}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,23},{51,49}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>1010_hit03.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,163},{51,49}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,23},{51,49}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>1010_hit04.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,112},{51,49}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,23},{51,49}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>1010_hit05.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,165},{51,49}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,23},{51,49}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>1010_hit06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{47,51}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,21},{47,51}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>1010_idle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,53},{47,49}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,23},{47,49}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>1010_idle02.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,104},{47,49}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,23},{47,49}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>1010_idle03.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,155},{49,49}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,23},{49,49}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>1010_idle04.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,104},{49,49}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,23},{49,49}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>1010_idle05.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{49,49}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,23},{49,49}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>1010_idle06.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{47,49}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,23},{47,49}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>1010_shot01.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,53},{47,49}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,23},{47,49}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>1010_shot02.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,53},{49,49}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,23},{49,49}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>1010_shot03.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,104},{55,45}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,27},{55,45}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>1010_shot04.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,155},{53,47}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,25},{53,47}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>1010_shot05.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,206},{53,47}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,25},{53,47}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>1010_shot06.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,53},{49,49}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,23},{49,49}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>1010_walk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,53},{47,49}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,23},{47,49}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>1010_walk02.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,104},{45,49}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,23},{45,49}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>1010_walk03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,57},{53,53}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,18},{53,53}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>1010_walk04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{53,53}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,18},{53,53}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>1010_walk05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{51,51}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,21},{51,51}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>1010_walk06.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{45,49}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,23},{45,49}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1010.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a55e1504991e41631a11342ede8e58b0$</string>
            <key>textureFileName</key>
            <string>1010.png</string>
        </dict>
    </dict>
</plist>
