<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7003_die01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{174,208}}</string>
                <key>offset</key>
                <string>{-115,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,84},{174,208}}</string>
                <key>sourceSize</key>
                <string>{560,336}</string>
            </dict>
            <key>7003_die02.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,0},{188,208}}</string>
                <key>offset</key>
                <string>{-119,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,84},{188,208}}</string>
                <key>sourceSize</key>
                <string>{560,336}</string>
            </dict>
            <key>7003_die03.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,0},{194,212}}</string>
                <key>offset</key>
                <string>{-126,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,80},{194,212}}</string>
                <key>sourceSize</key>
                <string>{560,336}</string>
            </dict>
            <key>7003_die04.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,0},{194,208}}</string>
                <key>offset</key>
                <string>{-136,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,84},{194,208}}</string>
                <key>sourceSize</key>
                <string>{560,336}</string>
            </dict>
            <key>7003_die05.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,0},{218,180}}</string>
                <key>offset</key>
                <string>{-113,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,112},{218,180}}</string>
                <key>sourceSize</key>
                <string>{560,336}</string>
            </dict>
            <key>7003_die06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,212},{240,158}}</string>
                <key>offset</key>
                <string>{-97,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,134},{240,158}}</string>
                <key>sourceSize</key>
                <string>{560,336}</string>
            </dict>
            <key>7003_die07.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,212},{288,94}}</string>
                <key>offset</key>
                <string>{-100,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,198},{288,94}}</string>
                <key>sourceSize</key>
                <string>{560,336}</string>
            </dict>
            <key>7003_die08.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,212},{284,96}}</string>
                <key>offset</key>
                <string>{-100,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,196},{284,96}}</string>
                <key>sourceSize</key>
                <string>{560,336}</string>
            </dict>
            <key>7003_die09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,370},{284,112}}</string>
                <key>offset</key>
                <string>{-100,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,180},{284,112}}</string>
                <key>sourceSize</key>
                <string>{560,336}</string>
            </dict>
            <key>7003_die10.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,370},{284,142}}</string>
                <key>offset</key>
                <string>{-100,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,150},{284,142}}</string>
                <key>sourceSize</key>
                <string>{560,336}</string>
            </dict>
            <key>7003_die11.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,370},{268,120}}</string>
                <key>offset</key>
                <string>{-104,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,122},{268,120}}</string>
                <key>sourceSize</key>
                <string>{560,336}</string>
            </dict>
            <key>7003_die12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,512},{278,116}}</string>
                <key>offset</key>
                <string>{-109,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,110},{278,116}}</string>
                <key>sourceSize</key>
                <string>{560,336}</string>
            </dict>
            <key>7003_die13.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,512},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{560,336}</string>
            </dict>
            <key>7003_hit01.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,512},{174,208}}</string>
                <key>offset</key>
                <string>{-115,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,84},{174,208}}</string>
                <key>sourceSize</key>
                <string>{560,336}</string>
            </dict>
            <key>7003_hit02.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,512},{194,206}}</string>
                <key>offset</key>
                <string>{-126,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,86},{194,206}}</string>
                <key>sourceSize</key>
                <string>{560,336}</string>
            </dict>
            <key>7003_hit03.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,512},{194,198}}</string>
                <key>offset</key>
                <string>{-136,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,94},{194,198}}</string>
                <key>sourceSize</key>
                <string>{560,336}</string>
            </dict>
            <key>7003_hit04.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,512},{182,208}}</string>
                <key>offset</key>
                <string>{-123,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,84},{182,208}}</string>
                <key>sourceSize</key>
                <string>{560,336}</string>
            </dict>
            <key>7003_hit05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,720},{186,208}}</string>
                <key>offset</key>
                <string>{-113,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,84},{186,208}}</string>
                <key>sourceSize</key>
                <string>{560,336}</string>
            </dict>
            <key>7003_idle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,512},{174,208}}</string>
                <key>offset</key>
                <string>{-115,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,84},{174,208}}</string>
                <key>sourceSize</key>
                <string>{560,336}</string>
            </dict>
            <key>7003_idle02.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,720},{206,228}}</string>
                <key>offset</key>
                <string>{-111,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,64},{206,228}}</string>
                <key>sourceSize</key>
                <string>{560,336}</string>
            </dict>
            <key>7003_idle03.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,720},{226,238}}</string>
                <key>offset</key>
                <string>{-112,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,54},{226,238}}</string>
                <key>sourceSize</key>
                <string>{560,336}</string>
            </dict>
            <key>7003_idle04.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,720},{232,242}}</string>
                <key>offset</key>
                <string>{-112,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,50},{232,242}}</string>
                <key>sourceSize</key>
                <string>{560,336}</string>
            </dict>
            <key>7003_idle05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,962},{198,224}}</string>
                <key>offset</key>
                <string>{-111,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,68},{198,224}}</string>
                <key>sourceSize</key>
                <string>{560,336}</string>
            </dict>
            <key>7003_idle06.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,962},{176,212}}</string>
                <key>offset</key>
                <string>{-113,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,80},{176,212}}</string>
                <key>sourceSize</key>
                <string>{560,336}</string>
            </dict>
            <key>7003_shot01.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,512},{174,208}}</string>
                <key>offset</key>
                <string>{-115,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,84},{174,208}}</string>
                <key>sourceSize</key>
                <string>{560,336}</string>
            </dict>
            <key>7003_shot02.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,962},{176,204}}</string>
                <key>offset</key>
                <string>{-138,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,88},{176,204}}</string>
                <key>sourceSize</key>
                <string>{560,336}</string>
            </dict>
            <key>7003_shot03.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,962},{204,204}}</string>
                <key>offset</key>
                <string>{-133,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,88},{204,204}}</string>
                <key>sourceSize</key>
                <string>{560,336}</string>
            </dict>
            <key>7003_shot04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1186},{312,212}}</string>
                <key>offset</key>
                <string>{-9,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,80},{312,212}}</string>
                <key>sourceSize</key>
                <string>{560,336}</string>
            </dict>
            <key>7003_shot05.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1186},{316,212}}</string>
                <key>offset</key>
                <string>{-19,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,80},{316,212}}</string>
                <key>sourceSize</key>
                <string>{560,336}</string>
            </dict>
            <key>7003_shot06.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,1186},{248,210}}</string>
                <key>offset</key>
                <string>{-66,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,82},{248,210}}</string>
                <key>sourceSize</key>
                <string>{560,336}</string>
            </dict>
            <key>7003_walk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,512},{174,208}}</string>
                <key>offset</key>
                <string>{-115,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,84},{174,208}}</string>
                <key>sourceSize</key>
                <string>{560,336}</string>
            </dict>
            <key>7003_walk02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1398},{230,222}}</string>
                <key>offset</key>
                <string>{-104,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,70},{230,222}}</string>
                <key>sourceSize</key>
                <string>{560,336}</string>
            </dict>
            <key>7003_walk03.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1398},{246,230}}</string>
                <key>offset</key>
                <string>{-97,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,62},{246,230}}</string>
                <key>sourceSize</key>
                <string>{560,336}</string>
            </dict>
            <key>7003_walk04.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1398},{204,216}}</string>
                <key>offset</key>
                <string>{-95,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,76},{204,216}}</string>
                <key>sourceSize</key>
                <string>{560,336}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7003.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>textureFileName</key>
            <string>7003.png</string>
        </dict>
    </dict>
</plist>
