<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7005_die01.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,304},{222,197}}</string>
                <key>offset</key>
                <string>{-70,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,122},{222,197}}</string>
                <key>sourceSize</key>
                <string>{550,367}</string>
            </dict>
            <key>7005_die02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,113},{234,191}}</string>
                <key>offset</key>
                <string>{-76,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,128},{234,191}}</string>
                <key>sourceSize</key>
                <string>{550,367}</string>
            </dict>
            <key>7005_die03.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,113},{260,181}}</string>
                <key>offset</key>
                <string>{-86,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,138},{260,181}}</string>
                <key>sourceSize</key>
                <string>{550,367}</string>
            </dict>
            <key>7005_die04.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,113},{246,159}}</string>
                <key>offset</key>
                <string>{-72,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,160},{246,159}}</string>
                <key>sourceSize</key>
                <string>{550,367}</string>
            </dict>
            <key>7005_die05.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,113},{252,147}}</string>
                <key>offset</key>
                <string>{-71,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,172},{252,147}}</string>
                <key>sourceSize</key>
                <string>{550,367}</string>
            </dict>
            <key>7005_die06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,113},{254,139}}</string>
                <key>offset</key>
                <string>{-70,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,180},{254,139}}</string>
                <key>sourceSize</key>
                <string>{550,367}</string>
            </dict>
            <key>7005_die07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,0},{254,113}}</string>
                <key>offset</key>
                <string>{-70,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,206},{254,113}}</string>
                <key>sourceSize</key>
                <string>{550,367}</string>
            </dict>
            <key>7005_die08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,0},{178,89}}</string>
                <key>offset</key>
                <string>{-70,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,215},{178,89}}</string>
                <key>sourceSize</key>
                <string>{550,367}</string>
            </dict>
            <key>7005_die09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,0},{186,109}}</string>
                <key>offset</key>
                <string>{-66,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,219},{186,109}}</string>
                <key>sourceSize</key>
                <string>{550,367}</string>
            </dict>
            <key>7005_die10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,0},{210,97}}</string>
                <key>offset</key>
                <string>{-76,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,233},{210,97}}</string>
                <key>sourceSize</key>
                <string>{550,367}</string>
            </dict>
            <key>7005_die11.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,0},{212,83}}</string>
                <key>offset</key>
                <string>{-77,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,248},{212,83}}</string>
                <key>sourceSize</key>
                <string>{550,367}</string>
            </dict>
            <key>7005_die12.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,0},{212,75}}</string>
                <key>offset</key>
                <string>{-77,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,256},{212,75}}</string>
                <key>sourceSize</key>
                <string>{550,367}</string>
            </dict>
            <key>7005_die13.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,0},{212,73}}</string>
                <key>offset</key>
                <string>{-77,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,258},{212,73}}</string>
                <key>sourceSize</key>
                <string>{550,367}</string>
            </dict>
            <key>7005_die14.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,0},{210,73}}</string>
                <key>offset</key>
                <string>{-77,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,258},{210,73}}</string>
                <key>sourceSize</key>
                <string>{550,367}</string>
            </dict>
            <key>7005_die15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{210,73}}</string>
                <key>offset</key>
                <string>{-77,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,258},{210,73}}</string>
                <key>sourceSize</key>
                <string>{550,367}</string>
            </dict>
            <key>7005_die16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{550,367}</string>
            </dict>
            <key>7005_hit01.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,304},{222,197}}</string>
                <key>offset</key>
                <string>{-70,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,122},{222,197}}</string>
                <key>sourceSize</key>
                <string>{550,367}</string>
            </dict>
            <key>7005_hit02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,113},{224,187}}</string>
                <key>offset</key>
                <string>{-77,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,132},{224,187}}</string>
                <key>sourceSize</key>
                <string>{550,367}</string>
            </dict>
            <key>7005_hit03.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,113},{228,177}}</string>
                <key>offset</key>
                <string>{-84,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,142},{228,177}}</string>
                <key>sourceSize</key>
                <string>{550,367}</string>
            </dict>
            <key>7005_hit04.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,113},{228,177}}</string>
                <key>offset</key>
                <string>{-84,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,142},{228,177}}</string>
                <key>sourceSize</key>
                <string>{550,367}</string>
            </dict>
            <key>7005_hit05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,113},{224,187}}</string>
                <key>offset</key>
                <string>{-76,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,132},{224,187}}</string>
                <key>sourceSize</key>
                <string>{550,367}</string>
            </dict>
            <key>7005_hit06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,304},{224,193}}</string>
                <key>offset</key>
                <string>{-72,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,126},{224,193}}</string>
                <key>sourceSize</key>
                <string>{550,367}</string>
            </dict>
            <key>7005_idle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,304},{222,197}}</string>
                <key>offset</key>
                <string>{-70,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,122},{222,197}}</string>
                <key>sourceSize</key>
                <string>{550,367}</string>
            </dict>
            <key>7005_idle02.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,507},{216,211}}</string>
                <key>offset</key>
                <string>{-70,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,108},{216,211}}</string>
                <key>sourceSize</key>
                <string>{550,367}</string>
            </dict>
            <key>7005_idle03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,507},{226,219}}</string>
                <key>offset</key>
                <string>{-76,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,100},{226,219}}</string>
                <key>sourceSize</key>
                <string>{550,367}</string>
            </dict>
            <key>7005_idle04.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,726},{244,227}}</string>
                <key>offset</key>
                <string>{-81,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,92},{244,227}}</string>
                <key>sourceSize</key>
                <string>{550,367}</string>
            </dict>
            <key>7005_idle05.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,726},{244,227}}</string>
                <key>offset</key>
                <string>{-81,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,92},{244,227}}</string>
                <key>sourceSize</key>
                <string>{550,367}</string>
            </dict>
            <key>7005_idle06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,507},{226,219}}</string>
                <key>offset</key>
                <string>{-76,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,100},{226,219}}</string>
                <key>sourceSize</key>
                <string>{550,367}</string>
            </dict>
            <key>7005_idle07.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,507},{218,209}}</string>
                <key>offset</key>
                <string>{-70,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,110},{218,209}}</string>
                <key>sourceSize</key>
                <string>{550,367}</string>
            </dict>
            <key>7005_shot01.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,304},{222,197}}</string>
                <key>offset</key>
                <string>{-70,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,122},{222,197}}</string>
                <key>sourceSize</key>
                <string>{550,367}</string>
            </dict>
            <key>7005_shot02.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,507},{238,209}}</string>
                <key>offset</key>
                <string>{-76,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,110},{238,209}}</string>
                <key>sourceSize</key>
                <string>{550,367}</string>
            </dict>
            <key>7005_shot03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,726},{258,223}}</string>
                <key>offset</key>
                <string>{-86,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,96},{258,223}}</string>
                <key>sourceSize</key>
                <string>{550,367}</string>
            </dict>
            <key>7005_shot04.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,726},{272,237}}</string>
                <key>offset</key>
                <string>{-84,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,82},{272,237}}</string>
                <key>sourceSize</key>
                <string>{550,367}</string>
            </dict>
            <key>7005_shot05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,726},{358,249}}</string>
                <key>offset</key>
                <string>{-82,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,70},{358,249}}</string>
                <key>sourceSize</key>
                <string>{550,367}</string>
            </dict>
            <key>7005_shot06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,726},{332,249}}</string>
                <key>offset</key>
                <string>{-82,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,70},{332,249}}</string>
                <key>sourceSize</key>
                <string>{550,367}</string>
            </dict>
            <key>7005_shot07.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,726},{254,227}}</string>
                <key>offset</key>
                <string>{-72,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,92},{254,227}}</string>
                <key>sourceSize</key>
                <string>{550,367}</string>
            </dict>
            <key>7005_walk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,304},{222,197}}</string>
                <key>offset</key>
                <string>{-70,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,122},{222,197}}</string>
                <key>sourceSize</key>
                <string>{550,367}</string>
            </dict>
            <key>7005_walk02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,507},{214,207}}</string>
                <key>offset</key>
                <string>{-73,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,111},{214,207}}</string>
                <key>sourceSize</key>
                <string>{550,367}</string>
            </dict>
            <key>7005_walk03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,507},{212,219}}</string>
                <key>offset</key>
                <string>{-72,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,98},{212,219}}</string>
                <key>sourceSize</key>
                <string>{550,367}</string>
            </dict>
            <key>7005_walk04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,507},{224,213}}</string>
                <key>offset</key>
                <string>{-72,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,106},{224,213}}</string>
                <key>sourceSize</key>
                <string>{550,367}</string>
            </dict>
            <key>7005_walk05.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,507},{236,207}}</string>
                <key>offset</key>
                <string>{-70,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,113},{236,207}}</string>
                <key>sourceSize</key>
                <string>{550,367}</string>
            </dict>
            <key>7005_walk06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,304},{232,203}}</string>
                <key>offset</key>
                <string>{-70,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,117},{232,203}}</string>
                <key>sourceSize</key>
                <string>{550,367}</string>
            </dict>
            <key>7005_walk07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1788,304},{226,203}}</string>
                <key>offset</key>
                <string>{-70,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,116},{226,203}}</string>
                <key>sourceSize</key>
                <string>{550,367}</string>
            </dict>
            <key>7005_walk08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,304},{222,199}}</string>
                <key>offset</key>
                <string>{-70,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,120},{222,199}}</string>
                <key>sourceSize</key>
                <string>{550,367}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7005.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>textureFileName</key>
            <string>7005.png</string>
        </dict>
    </dict>
</plist>
