<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AttributeHUO_die01.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,696},{19,26}}</string>
                <key>offset</key>
                <string>{3,-206}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,412},{19,26}}</string>
                <key>sourceSize</key>
                <string>{193,438}</string>
            </dict>
            <key>AttributeHUO_die02.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,993},{29,32}}</string>
                <key>offset</key>
                <string>{2,-203}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,406},{29,32}}</string>
                <key>sourceSize</key>
                <string>{193,438}</string>
            </dict>
            <key>AttributeHUO_die03.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,115},{37,38}}</string>
                <key>offset</key>
                <string>{1,-200}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,400},{37,38}}</string>
                <key>sourceSize</key>
                <string>{193,438}</string>
            </dict>
            <key>AttributeHUO_die04.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,259},{43,46}}</string>
                <key>offset</key>
                <string>{1,-196}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,392},{43,46}}</string>
                <key>sourceSize</key>
                <string>{193,438}</string>
            </dict>
            <key>AttributeHUO_die05.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,110},{47,68}}</string>
                <key>offset</key>
                <string>{0,-185}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,370},{47,68}}</string>
                <key>sourceSize</key>
                <string>{193,438}</string>
            </dict>
            <key>AttributeHUO_die06.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,159},{55,98}}</string>
                <key>offset</key>
                <string>{-3,-170}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,340},{55,98}}</string>
                <key>sourceSize</key>
                <string>{193,438}</string>
            </dict>
            <key>AttributeHUO_die07.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,2},{69,106}}</string>
                <key>offset</key>
                <string>{-8,-166}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,332},{69,106}}</string>
                <key>sourceSize</key>
                <string>{193,438}</string>
            </dict>
            <key>AttributeHUO_die08.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,379},{77,118}}</string>
                <key>offset</key>
                <string>{-10,-160}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,320},{77,118}}</string>
                <key>sourceSize</key>
                <string>{193,438}</string>
            </dict>
            <key>AttributeHUO_die09.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,193},{79,128}}</string>
                <key>offset</key>
                <string>{-9,-155}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,310},{79,128}}</string>
                <key>sourceSize</key>
                <string>{193,438}</string>
            </dict>
            <key>AttributeHUO_die10.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,193},{87,140}}</string>
                <key>offset</key>
                <string>{-10,-149}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,298},{87,140}}</string>
                <key>sourceSize</key>
                <string>{193,438}</string>
            </dict>
            <key>AttributeHUO_die11.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,266},{99,160}}</string>
                <key>offset</key>
                <string>{-12,-139}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,278},{99,160}}</string>
                <key>sourceSize</key>
                <string>{193,438}</string>
            </dict>
            <key>AttributeHUO_die12.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,268},{109,220}}</string>
                <key>offset</key>
                <string>{-8,-109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,218},{109,220}}</string>
                <key>sourceSize</key>
                <string>{193,438}</string>
            </dict>
            <key>AttributeHUO_die13.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,2},{111,246}}</string>
                <key>offset</key>
                <string>{-6,-96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,192},{111,246}}</string>
                <key>sourceSize</key>
                <string>{193,438}</string>
            </dict>
            <key>AttributeHUO_die14.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,717},{115,274}}</string>
                <key>offset</key>
                <string>{-3,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,164},{115,274}}</string>
                <key>sourceSize</key>
                <string>{193,438}</string>
            </dict>
            <key>AttributeHUO_die15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{119,292}}</string>
                <key>offset</key>
                <string>{-4,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,146},{119,292}}</string>
                <key>sourceSize</key>
                <string>{193,438}</string>
            </dict>
            <key>AttributeHUO_die16.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,380},{119,314}}</string>
                <key>offset</key>
                <string>{-5,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,124},{119,314}}</string>
                <key>sourceSize</key>
                <string>{193,438}</string>
            </dict>
            <key>AttributeHUO_die17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{115,338}}</string>
                <key>offset</key>
                <string>{-5,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,100},{115,338}}</string>
                <key>sourceSize</key>
                <string>{193,438}</string>
            </dict>
            <key>AttributeHUO_die18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{137,376}}</string>
                <key>offset</key>
                <string>{-1,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,62},{137,376}}</string>
                <key>sourceSize</key>
                <string>{193,438}</string>
            </dict>
            <key>AttributeHUO_die19.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{155,262}}</string>
                <key>offset</key>
                <string>{1,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,28},{155,262}}</string>
                <key>sourceSize</key>
                <string>{193,438}</string>
            </dict>
            <key>AttributeHUO_die20.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,2},{177,264}}</string>
                <key>offset</key>
                <string>{2,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{177,264}}</string>
                <key>sourceSize</key>
                <string>{193,438}</string>
            </dict>
            <key>AttributeHUO_die21.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,2},{189,222}}</string>
                <key>offset</key>
                <string>{-1,108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{189,222}}</string>
                <key>sourceSize</key>
                <string>{193,438}</string>
            </dict>
            <key>AttributeHUO_die22.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,115},{187,204}}</string>
                <key>offset</key>
                <string>{-2,117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{187,204}}</string>
                <key>sourceSize</key>
                <string>{193,438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AttributeHUO-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27a03fdfe81dd97465a07580e17c6f8c$</string>
            <key>textureFileName</key>
            <string>AttributeHUO-hd.png</string>
        </dict>
    </dict>
</plist>
