<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BloodEffect_effect01.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,490},{16,14}}</string>
                <key>offset</key>
                <string>{-4,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,44},{16,14}}</string>
                <key>sourceSize</key>
                <string>{52,146}</string>
            </dict>
            <key>BloodEffect_effect02.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,458},{26,30}}</string>
                <key>offset</key>
                <string>{1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,34},{26,30}}</string>
                <key>sourceSize</key>
                <string>{52,146}</string>
            </dict>
            <key>BloodEffect_effect03.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,426},{26,30}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,40},{26,30}}</string>
                <key>sourceSize</key>
                <string>{52,146}</string>
            </dict>
            <key>BloodEffect_effect04.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,430},{26,58}}</string>
                <key>offset</key>
                <string>{1,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{26,58}}</string>
                <key>sourceSize</key>
                <string>{52,146}</string>
            </dict>
            <key>BloodEffect_effect05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{36,78}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{36,78}}</string>
                <key>sourceSize</key>
                <string>{52,146}</string>
            </dict>
            <key>BloodEffect_effect06.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,284},{36,88}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,15},{36,88}}</string>
                <key>sourceSize</key>
                <string>{52,146}</string>
            </dict>
            <key>BloodEffect_effect07.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,406},{36,104}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{36,104}}</string>
                <key>sourceSize</key>
                <string>{52,146}</string>
            </dict>
            <key>BloodEffect_effect08.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,144},{40,138}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{40,138}}</string>
                <key>sourceSize</key>
                <string>{52,146}</string>
            </dict>
            <key>BloodEffect_effect09.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{44,140}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{44,140}}</string>
                <key>sourceSize</key>
                <string>{52,146}</string>
            </dict>
            <key>BloodEffect_effect10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{50,144}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{50,144}}</string>
                <key>sourceSize</key>
                <string>{52,146}</string>
            </dict>
            <key>BloodEffect_effect11.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{50,144}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{50,144}}</string>
                <key>sourceSize</key>
                <string>{52,146}</string>
            </dict>
            <key>BloodEffect_effect12.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{50,144}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{50,144}}</string>
                <key>sourceSize</key>
                <string>{52,146}</string>
            </dict>
            <key>BloodEffect_effect13.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{50,144}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{50,144}}</string>
                <key>sourceSize</key>
                <string>{52,146}</string>
            </dict>
            <key>BloodEffect_effect14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,144}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{50,144}}</string>
                <key>sourceSize</key>
                <string>{52,146}</string>
            </dict>
            <key>BloodEffect_effect15.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,284},{50,140}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{50,140}}</string>
                <key>sourceSize</key>
                <string>{52,146}</string>
            </dict>
            <key>BloodEffect_effect16.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,148},{50,136}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{50,136}}</string>
                <key>sourceSize</key>
                <string>{52,146}</string>
            </dict>
            <key>BloodEffect_effect17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{50,134}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{50,134}}</string>
                <key>sourceSize</key>
                <string>{52,146}</string>
            </dict>
            <key>BloodEffect_effect18.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,148},{50,130}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{50,130}}</string>
                <key>sourceSize</key>
                <string>{52,146}</string>
            </dict>
            <key>BloodEffect_effect19.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,148},{48,128}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,18},{48,128}}</string>
                <key>sourceSize</key>
                <string>{52,146}</string>
            </dict>
            <key>BloodEffect_effect20.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,278},{48,126}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{48,126}}</string>
                <key>sourceSize</key>
                <string>{52,146}</string>
            </dict>
            <key>BloodEffect_effect21.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,286},{40,116}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,30},{40,116}}</string>
                <key>sourceSize</key>
                <string>{52,146}</string>
            </dict>
            <key>BloodEffect_effect22.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,374},{30,112}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,34},{30,112}}</string>
                <key>sourceSize</key>
                <string>{52,146}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BloodEffect_effect.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:923b5f323d471242138f8ab93271bf81$</string>
            <key>textureFileName</key>
            <string>BloodEffect_effect.png</string>
        </dict>
    </dict>
</plist>
